<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title id="boldStyle">Inscribir Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div>
    <div class="instruccion" style="color: white;">
      Selecciona una asignatura y escanea el código QR
    </div>

    <div class="margenElemento">
      <img src="assets/images/scan-qr.webp" alt="">
    </div>
    
    <!-- Dropdown para seleccionar la asignatura -->
    <ion-item class="margenListado">
      <ion-label style="font-weight: bold;">Asignatura</ion-label>
      <ion-select [(ngModel)]="selectedAsignatura">
        <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura">
          {{ asignatura.nombre }} 
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Cuadro de escaneo QR -->
    <div *ngIf="scannedResult" class="margenResultado">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Resultado del escaneo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ scannedResult }}
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Botón para volver a la página anterior -->
    <div class="margenResultado">
      <ion-button (click)="volver()" color="warning" id="boldStyle">
        Volver al inicio
        <ion-icon name="caret-back-outline" slot="start"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- Botón flotante para escanear y guardar QRs -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" color="warning">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title id="boldStyle">Desarrollado por: Maximiliano P.</ion-title>
  </ion-toolbar>
</ion-footer>