<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title id="boldStyle">Inscribir Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div style="margin: auto;">

    <h6>Inscribe tu asistencia escaneando el código QR</h6>
    
    <img src="assets/images/scan-qr.webp" alt="">

    <!-- Cuadro de escaneo QR -->
    <div *ngIf="scannedResult">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Resultado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ scannedResult }}
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Botón para volver a la página anterior -->
    <div>
      <ion-button (click)="volver()" color="warning" id="boldStyle">
        Volver al inicio
        <ion-icon name="caret-back-outline" slot="start"></ion-icon>
      </ion-button>
    </div>

</div>

  <!-- Botón flotante para escanear y guardar QRs -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title id="boldStyle">Desarrollado por: Maximiliano P.</ion-title>
  </ion-toolbar>
</ion-footer>
