#boldStyle{
    font-weight: bold;
}

h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #ff4e42; // Rojo suave para destacar el error
}

p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-inline: 2rem;
    color: #6c757d; // Gris para el mensaje adicional
}