#nombreUser{
    padding: 5%;
    font-size: 200%;
}

#iconUser {
    font-size: 1000%;
  }

#boldStyle{
    font-weight: bold;
}

.submit {
    height: 44px;
    --border-radius: 10px;
}

.centrado {
    margin-left: 52%;
}

.boton-salir {
    margin-right: 1rem;
    font-weight: bold;
}

.borde-card {
    border: 5px solid;
}

.termometro-size {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.calor {
    margin-left: 14%;
}





