#nombreUser{
    padding: 5%;
    font-size: 200%;
}

#iconUser {
    font-size: 1000%;
  }

#boldStyle{
    font-weight: bold;
    margin-right: 3.5%;
}

.submit {
    height: 44px;
    --border-radius: 10px;
}

