<ion-header>
  <ion-toolbar color="warning"><ion-title id="boldStyle" class="centrado">RegistroApp</ion-title></ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="margenElemento">
    <ion-card-header>
      <div class="ion-text-center">
        <ion-card-title id="boldStyle">Iniciar sesión</ion-card-title>
      </div>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="username" label="Usuario" labelPlacement="stacked" id="size20"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" label="Contraseña" labelPlacement="stacked" id="size20" type="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle> 
          </ion-input> 
        </ion-item>
      <br>
      <div class="ion-text-center">
        <ion-button (click)="validateLogin()" color="warning" id="boldStyle"><ion-icon name="log-in-outline" slot="end"></ion-icon>Ingresar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card style="padding: 5%;">
    <div class="ion-text-center">
      <a [routerLink]="['/pass-recovery']">Recuperar contraseña</a>
    </div>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title id="boldStyle">Desarrollado por: Maximiliano P.</ion-title>
  </ion-toolbar>
</ion-footer>


