#boldStyle{
    font-weight: bold;
    font-size: 125%;
}

.centrado {
    text-align: center;
}

#size20{
    font-size: 20px;
}

a{
    text-decoration: none;
}

.margenElemento{
    margin-top: 50%;
    margin-bottom: 10%;
}

ion-content {
    --background: #353535; /* Cambia el color del fondo */
  }