#boldStyle{
    font-weight: bold;
}

.centrado {
    text-align: center;
}


#size20{
    font-size: 20px;
}

.margenElemento{
    margin-top: 50%;
    margin-bottom: 10%;
}

ion-content {
    --background: #353535; /* Cambia el color del fondo */
  }